<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/cs/bootstrap.min.css">
    <script> src="/bootstrap/dist/js/bootstrap.min.js"</script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if (title==Home){ %>
          <a class="nav-link active" href="/home"></a>
          <% } else {%>
            <a class="nav-link" href="/home"></a>
          }

          <% } %>
          <i class="fa-solid fa-house" style="color: white;"></i> Home</a> 


        <li class="nav-item">
          <a class="nav-link active"  href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  href="#">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" a href="#">About</a>
        </li>
        
    </nav>


    <nav class = "navbar-text fixed-buttom navbar-dark bg-dark">
      <h6>All rights reserved</h6>





    </nav>





  </body>
</html>
