
<!-- Dark red footer with responsive design -->
<footer>
    <nav class="fixed-bottom text-white py-2" style="background-color: rgb(112, 4, 4);">
      <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved Daniel</h6>
    </nav>
    </footer>
</body>
</html>