<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(112, 4, 4);">
    <!-- Dark red navbar with responsive design -->

    <div class="container-fluid">
        <!-- Navbar container -->

        <!-- Brand name linking to the homepage -->
        <a class="navbar-brand" href="/">Assignment 3</a>

        <!-- Toggle button for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links that collapse on smaller screens -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <!-- Home link, active if 'Home' is the current page -->
                <li class="nav-item">
                    <% if(title == "Home") { %>
                        <a class="nav-link active" href="/home">
                    <% } else { %>
                        <a class="nav-link" href="/home">
                    <% } %>  
                    <i class="fa-solid fa-house"></i> Home</a>
                </li>

                <!-- Movies link, active if 'Movies' is the current page -->
                <li class="nav-item">
                    <% if(title == "Movies") { %>
                        <a class="nav-link active" href="/movieslist">
                    <% } else { %>
                        <a class="nav-link" href="/movieslist">
                    <% } %>  
                    <i class="fa-solid fa-film"></i> Movies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
