        <footer>
            <div id="footer">
                <address><i class="fa-brands fa-google"></i>: <a href="mailto:daniel.borrelldiaz@ontariotechu.net">daniel.borrelldiaz@ontariotechu.net</a></address>
                <address><i class="fa-brands fa-github"></i>: <a href="https://github.com/ScareCrowvv">ScareCrowvv</a></address>
                <address><i class="fa-brands fa-linkedin"></i>: <a href="https://www.linkedin.com/in/daniel-b-0455b62ba/">Daniel</a></address>
                    <p><img src="/Assets/images/ontario_tech.png" alt="ontario tech logo">  © 2024 by Daniel Borrell Diaz<p>
                    
                    
            </div>
        </footer>