<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Daniel Assignment 2</title>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Contents/app.css">
        <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
        <script src="/Script/app.js" defer></script>
        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
        

    </head>