            <header id="banner" >
                <nav>
                    <img src="/Assets/images/ontario_tech.png" alt="ontario tech logo">
                    <a class="button" href="/index"><i class="fa-solid fa-house" style="color: white;"></i> Home</a> 
                    <a class="button" href="/form"><i class="fa-regular fa-address-card" style="color: white;"></i> Contact</a> 
                    <a class="button" href="/project"><i class="fa-solid fa-list-check" style="color: white;"></i> Project</a> 
                    <a class="button" href="/about"><i class="fa-solid fa-user" style="color: white;"></i> About</a>
                    <img src="/Assets/images/ontario_tech.png" alt="ontario tech logo">
                </nav>
            </header>