<%- include Partials/header.ejs %>

<body class="bg-light" style="background-image: -moz-linear-gradient(top, rgb(46, 109, 204) 0%, white 100%);">
    <div>
        <%- include Partials/main_nav.ejs %> 

        <div class="container mt-5" style="background-image: url(/Assets/images/sky.png); background-size: cover; background-position: center;">
            <div class="row align-items-center mb-4">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <video  width="550" height="350" controls poster="/Assets/images/sky.mp4" preload="auto" autoplay loop muted id="myVid">
                        <source src="/Assets/images/sky.mp4" type="video/mp4">
                    </video>
                    <br>
                    <button class="btn btn-primary  btn-lg" style="margin-top: 10px;" onclick="PlayPause()">Play/Pause</button>
                    <script>
                        var mybtn = document.getElementById("myVid");
                        function PlayPause() {
                            if (mybtn.paused) mybtn.play();
                            else mybtn.pause();
                        }
                    </script>
                </div>

                <div class="col-md-6 border p-3 rounded bg-light">
                    <img class="img-fluid" src="/Assets/images/Profile.png" alt="Profile">
                    
                    <h2>About</h2>
                    <h4>My Name is Daniel. I am a student at Ontario Tech University currently in my second year of the Networking & IT Security program. 
                        I have training in first aid and swim instructing to be able to do my part-time jobs as a lifeguard and swim instructor. You can learn more through my LinkedIn page about my skills and experiences.</h4>
                </div>
            </div>
        </div>

        <%- include Partials/footer.ejs %>
    </div>
</body>
