<%- include Partials/header.ejs %>

<body class="bg-light" style="background-image: -moz-linear-gradient(top, rgb(46, 109, 204) 0%, white 100%);">
    <div>
        <%- include Partials/main_nav.ejs %> 

        <div class="container mt-6" style="background-image: url(/Assets/images/sky.png); background-size: cover; background-position: center;">
            <div class="row align-items-center mb-0">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <video width="100%" height="350" controls poster="/Assets/images/sky.png" preload="auto" autoplay loop muted id="myVid">
                        <source src="/Assets/images/sky.mp4" type="video/mp4">
                    </video>
                    <br>
                    <button class="btn btn-primary btn-lg" style="margin-top: 10px;" onclick="PlayPause()">Play/Pause</button>
                    <script>
                        var myVid = document.getElementById("myVid");
                        function PlayPause() {
                            if (myVid.paused) myVid.play();
                            else myVid.pause();
                        }
                    </script>
                </div>

                <div class="col-md-6"> 
                    <div class="text-center mb-0">
                        <img class="img-fluid mb-2  border border-primary border-5" src="/Assets/images/Profile.png" alt="Profile" style="border-radius: 5px;">
                    </div>
                    <div class="border border-primary border-5 p-3 rounded bg-light">
                        <h2 class="text-center">About</h2>
                        <h4 class="text-center">
                            My name is Daniel. I am a student at Ontario Tech University currently in my second year of the Networking & IT Security program. 
                            I have training in first aid and swim instructing to be able to do my part-time jobs as a lifeguard and swim instructor. You can learn more through my LinkedIn page about my skills and experiences.
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <%- include Partials/footer.ejs %>
    </div>
</body>
