
<%- include Partials/header.ejs%>


    <body>
        <div id="short_wrapper">
            <%- include Partials/main_nav.ejs%>

            
                <div id="short_left-column">
                    <img class="cyber" src="/Assets/images/CyberSecurity.png" alt="CyberSecurity">
                </div>
                <div id="short_right-column">
                    <h1>Hello!</h1>
                    <h3>Welcome to my portfolio website. My name is Daniel I am a student at Ontario Tech University studying network security, to learn more visit the about page. 
                        To view my school projects view the project page. Finally you can fill a form in the contact page so I know more info about you. </h3>

                </div>
          </div>
        
          <%- include Partials/footer.ejs%>
    

        
    </body>

