@charset "UTF-8";
body{
background-color: black;
background: -moz-linear-gradient(top, rgb(46, 109, 204) 0%, white 100%); 
    background: -webkit-linear-gradient(top, rgb(46, 109, 204) 0%, white 100%); 
    background: -o-linear-gradient(top, rgb(46, 109, 204) 0%, white 100%); 
    background: linear-gradient(to bottom, rgb(46, 109, 204) 0%,white 100%);
    font-family: Verdana, Geneva, Arial, sans-serif;
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;}

#wrapper{
width: 960px;
height: 800px;
margin-left: auto;
margin-right: auto;
background-color:gray;
}
#right-column{
float: right;
width: 460px;
height: 740px;
margin-top: 10px;
margin-right: 10px;
background-color:white;
border: 2px solid black;
}
#left-column{
float: left;
width: 460px;
height:740px;
margin-top: 10px;
margin-left: 10px;
background-color: white;
border: 2px solid black;
}
#footer{
height:30px;
color: white;
background-color: rgb(0, 63, 140);
text-align: center;
}

#footer a{
    text-decoration: none;
    color: white;
}

#footer a:hover{
    color: rgb(144, 191, 249);
}

#footer img{
    width: 20px;
    height: 20px;
}

#banner{
 font-size: 20px;
    height: 35px;
    background-color: rgb(0, 63, 140);
    text-align: center;
}

#banner a{
    color: white;
    border: 2px solid white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 50px;
    padding-left: 50px;
    display: inline-block; 
    background-color: rgb(0, 63, 140); 
}

#banner a:hover{
    border: 2px white;
    color: white;
    background-color: rgb(144, 191, 249);
}

#banner img{
    width: 25px;
    height: 25px;
}




