<%- include Partials/header.ejs %>

    <%- include Partials/main_nav.ejs %>

    <div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center" >
        <div class="text-center">
            <h1 style="font-size: 3rem; font-weight: bold;">Welcome to Movie Journal</h1>
            <p style="font-size: 1.5rem; max-width: 600px; margin: 20px auto;">
                Record your experience with all the movies you have watched and all the movies you plan on watching in the future
            </p>
        </div>

        <div>
            <a href="/movieslist" class="btn" style="background-color: rgb(228, 23, 13); color: white; font-size: 2rem; font-weight: bold;">
                Log Movies
            </a>
        </div>
    </div>

    <%- include Partials/footer.ejs %>

