<footer style="background-color: rgb(0, 63, 140);" class="text-white py-2"> 
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-start">
                <p>
                    <img src="/Assets/images/ontario_tech.png" alt="Ontario Tech logo" style="width: 20px; height: 20px;">
                    © 2024 by Daniel Borrell Diaz
                </p>
            </div>

            <div class="col-md-6 text-end">
                <address class="d-inline-block me-3">
                    <a href="mailto:daniel.borrelldiaz@ontariotechu.net" class="text-white">
                        <i class="fa-brands fa-google fa-2x"></i>
                    </a>
                </address>
                <address class="d-inline-block me-3">
                    <a href="https://github.com/ScareCrowvv" class="text-white" target="_blank">
                        <i class="fa-brands fa-github fa-2x"></i>
                    </a>
                </address>
                <address class="d-inline-block">
                    <a href="https://www.linkedin.com/in/daniel-b-0455b62ba/" class="text-white" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2x"></i>
                    </a>
                </address>
            </div>
        </div>
    </div>
</footer>
