<%- include ../Partials/header.ejs%>

<body style="background-image: url(/Assets/images/background2.jpg); background-size: cover; background-position: center;">

<%- include ../Partials/main_nav.ejs%>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6" style="background: rgba(0, 0, 0, 0.7); background-attachment: fixed; color: white;">
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="titleTextField">Movie Title</label>
                    <input type="text" class="form-control" id="titleTextField" placeholder="Enter the Movie Title" name="Title" required>
                </div>
                <div class="form-group">
                    <label for="genreTextField">Movie Genre</label>
                    <input type="text" class="form-control" id="genreTextField" placeholder="Enter the Movie Genre" name="Genre" required>
                </div>
                <div class="form-group">
                    <label for="releaseYearTextArea">Movie Release Year</label>
                    <input type="text" class="form-control" id="releaseYearTextArea"  placeholder="Enter the Movie Release Year" name="ReleaseYear" required>
                </div>
                <div class="form-group">
                    <label for="ratingTextField">Movie Rating</label>
                    <input type="text" class="form-control" id="ratingTextField" placeholder="Enter the Movie Rating" name="Rating" required>
                </div>
                <div class="form-group">
                    <label for="descriptionTextField">Movie Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextField" placeholder="Enter the Movie Description" name="Description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="statusTextField">Movie Status</label>
                    <input type="text" class="form-control" id="statusTextField" placeholder="Enter the Status" name="Status" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="submit"  style="background-color: rgb(248, 24, 24); color: white;">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>

</body>
<%- include ../Partials/footer.ejs%>